* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  display: flex;
  justify-content: space-between;
  background-color: #33d49f;
  padding: 1.2em 1em;
}
nav ul {
  display: flex;
  list-style-type: none;
}
nav a {
  color: #2b2626;
  font-size: 1.2em;
  text-decoration: none;
}
nav ul li:hover {
  background-color: #808080;
  transition: background-color 0.5s linear;
}
nav .links li {
  padding: 0.5em 1em;
  margin-right: 3em;
  border-radius: 5%;
}
nav .icons li {
  padding: 0.5em 0.5em;
  margin-right: 1em;
  border-radius: 50%;
}

.log-in {
  display: flex;
  justify-content: center;
  padding-top: 3em;
}
.form {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.form input,
button {
  font-size: 1.5em;
  margin-top: 10px;
  border: 1px solid sienna;
  border-radius: 5px;
}
button {
  cursor: pointer;
  background-color: rgb(73, 23, 48);
  color: silver;
  font-size: 1.3em;
  font-weight: 700;
  padding: 0.2em;
}
.form input:focus {
  background-color: #509696;
  color: #63fc63;
  border: 1px solid black;
  padding: 0.1em;
}
.form input::placeholder {
  color: #f56868;
  padding-left: 0.7em;
}
.calender {
  background-color: rgba(212, 205, 205, 0.705);
  width: 800px;
  border-radius: 5px;
  margin: 50px auto;
  padding-bottom: 20px;
  display: grid;
}
.calender-header {
  margin: 10px auto;
  color: black;
  font-size: 1.8em;
}
.calender-area {
  display: flex;
  justify-content: space-around;
}
.grid-container {
  height: 200px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-gap: 10px;
}
.date {
  background-color: #778899;
  font-size: 1em;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: background-color 1s linear;
}
.date:hover {
  background-color: rgba(197, 135, 135, 0.623);
}
.other-month {
  background-color: gray;
}
.month-name {
  background-color: #766aa5;
  grid-area: 1/1/2/8;
  font-size: 2em;
  font-weight: 700;
  text-align: center;
  color: #f8f8e8;
}
.day-name {
  background-color: #dfd2d2;
}
.album {
  text-align: center;
}
.photo-album {
  display: flex;
  flex-wrap: wrap;
}
.photo-frame {
  width: 300px;
  height: 200px;
  border: 3px solid sandybrown;
  border-radius: 10px;
  position: relative;
  margin: 10px;
  overflow: hidden;
  transition: all 0.3s ease;
}
.photo img {
  width: 100%;
  border-radius: 10px;
}
.photo-details {
  position: absolute;
  top: 0;
  display: none;
}
.photo-frame:hover .photo-details {
  display: block;
  background-color: rgba(255, 255, 255, 0.342);
  color: rgba(56, 28, 15, 0.836);
}
.photo-details p {
  color: rgb(70, 8, 8);
}
.photo-details h3 {
  margin-bottom: 10px;
  background-color: #000;
  color: white;
  text-align: center;
}
.photo-frame:hover .photo {
  transform: scale(1.5);
  transition: transform 2s;
}
